<!DOCTYPE html>
<html>
    <head>
        <title>The Wall: Home</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript" src="/jquery/jquery.js"></script>
        <script type=""></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>
    </head>
    <body>
        <h1>CodingDojo Wall</h1>
        <a href="/logout">signout</a>
        <form id="post_a_message">
            <textarea id="message"></textarea>
            <input type="submit" value="Post a Message">
        </form>
        <div id="main_container">
<%
    if(status && result?.length > 0){
        for(let { message_id, messenger, message, messaged_at, is_msg_archivable, comments } of result){
            let parsed_comments = JSON.parse(comments);
%>
            <div class="message_container">
                <p><%= message %></p>
                <p><%= messenger %> - <%= messaged_at %> | <% if(is_msg_archivable){ %> <a class="delete_message" value="<%= message_id %>">Delete</a> <% } %></p>
<%
            if(parsed_comments?.length > 0){
%>
                <div class="comments">
<%
                    for(let { comment, commenter, comment_id, commented_at, is_cmt_archivable } of parsed_comments){
%>
                    <p><%= comment %></p>
                    <p><%= messenger %> - <%= messaged_at %> <% if(is_cmt_archivable){ %> | <a class="delete_comment"  value="<%= comment_id %>">Delete</a> <% } %></p>
<%
                    }
%>
                </div>
<%
            }
%>
            <form class="post_a_comment" value="<%= message_id %>">
                <textarea id="comment_<%= message_id %>"></textarea>
                <input type="submit" value="Post a Comment">
            </form>
            </div>
<%
        }
    }
%>
        </div>
    </body>
</html>